* {
  box-sizing: border-box; }

body {
  background-color: #FDF5DB; }

nav {
  width: 80%;
  height: auto;
  position: fixed;
  text-align: center;
  right: 0; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%; }
    nav ul li {
      display: inline;
      height: 100%; }
      nav ul li a {
        font-size: 2em;
        font-weight: 900;
        padding: 0 2em;
        text-decoration: none;
        color: #353129; }
      nav ul li a:hover {
        color: #C1CE96;
        background-color: #597533;
        border-radius: 5px; }
      nav ul li a:active {
        color: #597533; }
      @media screen and (max-width: 800px) {
        nav ul li {
          display: block; } }
  @media screen and (max-width: 800px) {
    nav {
      width: 100%;
      position: absolute; } }

header {
  width: 80%;
  max-width: 1200px;
  height: 18em;
  margin: auto;
  background: url("../img/dgBanner.png") no-repeat center bottom;
  background-size: 100%; }
  @media screen and (max-width: 900px) {
    header {
      height: 15em; } }
  @media screen and (max-width: 400px) {
    header {
      height: 13em; } }
  header img {
    max-width: 100%;
    height: auto; }
    @media screen and (max-width: 1050px) {
      header img {
        display: block;
        z-index: -1; } }
    @media screen and (max-width: 700px) {
      header img {
        width: 245px;
        margin: auto; } }

.jumbotron {
  width: 80%;
  max-width: 1200px;
  margin: auto; }
  .jumbotron img {
    width: 100%;
    border-radius: 10px; }

#secondaryNav {
  width: 80%;
  max-width: 1200px;
  margin: auto; }
  #secondaryNav h2 {
    color: #8EA35E;
    font-size: 2em;
    text-align: center; }
  #secondaryNav #shopNursery {
    margin: 0 auto;
    float: none; }
  #secondaryNav figure {
    width: 32%;
    float: left;
    margin: .5%;
    display: block;
    position: relative;
    overflow: hidden; }
    @media screen and (max-width: 600px) {
      #secondaryNav figure {
        width: 100%; } }
    #secondaryNav figure img {
      width: 100%;
      border-radius: 10px;
      max-height: 180px; }
  #secondaryNav figcaption {
    position: absolute;
    background: rgba(102, 102, 102, 0.55);
    color: white;
    padding: 10% 20%;
    opacity: 0;
    bottom: -30%;
    left: 5%;
    right: 5%;
    font-size: 1.2em;
    text-align: center;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    border-radius: 10px; }
    @media screen and (max-width: 800px) {
      #secondaryNav figcaption {
        opacity: 1;
        bottom: 0;
        background: rgba(102, 102, 102, 0.25); } }
  #secondaryNav figure:hover figcaption {
    opacity: 1;
    bottom: 0; }

footer {
  clear: left;
  width: 100%; }
  footer address {
    text-align: center;
    padding: 1em; }
  footer ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: center; }
  footer li {
    display: inline; }
    footer li a {
      font-size: 1.5em;
      padding: 2em;
      text-decoration: none;
      color: #597533;
      font-weight: 700; }
      @media screen and (max-width: 600px) {
        footer li a {
          display: block;
          padding: 0; } }
    footer li a:hover {
      color: #C1CE96; }

section {
  width: 80%;
  max-width: 1200px;
  height: auto;
  margin: auto; }
  section table {
    margin: auto;
    font-size: 2em; }
    @media screen and (max-width: 675px) {
      section table {
        font-size: 1em; } }
    section table input {
      width: 30em;
      height: 3em;
      border-radius: 10px;
      font-size: .5em; }
      @media screen and (max-width: 675px) {
        section table input {
          width: 15em;
          height: 3em; } }
    section table #btnContact {
      background-color: #FDF5DB; }
    section table #btnContact:active {
      background-color: #C1CE96; }
    section table textarea {
      width: 30em;
      height: 20em;
      border-radius: 10px;
      font-size: .5em; }
      @media screen and (max-width: 675px) {
        section table textarea {
          width: 15em;
          height: 10em; } }
  section p {
    text-align: center;
    font-size: 1.5em; }
    section p a {
      text-decoration: none;
      color: black; }
  section h1 {
    text-align: center; }

section.materialList {
  width: 80%; }
  section.materialList h1 {
    color: #8EA35E;
    font-size: 3em; }
    @media screen and (max-width: 650px) {
      section.materialList h1 {
        text-align: center;
        font-size: 3em; } }
  section.materialList aside {
    float: left;
    padding-bottom: 105%; }
    @media screen and (max-width: 650px) {
      section.materialList aside {
        padding-bottom: 0%; } }
    section.materialList aside ul {
      padding: 1%;
      list-style-type: none; }
      section.materialList aside ul li a {
        text-decoration: none;
        font-size: 1.5em;
        color: black; }
      section.materialList aside ul a:hover {
        color: #B0B0B0; }
  section.materialList article {
    margin: 0 1% 4% 1%; }
    @media screen and (max-width: 650px) {
      section.materialList article {
        clear: left; } }
    section.materialList article h1 {
      font-size: 2em; }
    section.materialList article img {
      width: 40%; }
  section.materialList .btn a {
    color: #224D00;
    text-decoration: none;
    width: 20%;
    border-radius: 10px;
    background-color: #8EA35E;
    text-align: center;
    font-size: 2em;
    padding: 1% 3%;
    margin: 5% auto; }
  section.materialList .btn a:hover {
    color: #B0B0B0;
    background-color: #224D00; }

table {
  width: 80%;
  height: auto;
  text-align: center;
  font-size: 1.5em; }

#hardscape figure {
  margin: 3%;
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 30%;
  float: left;
  clear: left; }
  #hardscape figure img {
    width: 100%;
    padding: 1%; }
  #hardscape figure .btn a {
    text-decoration: none;
    left: 0;
    margin: auto;
    font-size: 1.4em;
    padding: 0 1%; }
#hardscape p.aside {
  font-size: 2.5em;
  float: left;
  width: 60%;
  clear: right;
  padding-top: 5%; }
  @media screen and (max-width: 1200px) {
    #hardscape p.aside {
      padding-top: 4%;
      font-size: 2em; } }
  @media screen and (max-width: 800px) {
    #hardscape p.aside {
      font-size: 1.5em;
      padding-top: 2%; } }
  @media screen and (max-width: 550px) {
    #hardscape p.aside {
      font-size: 1.2em;
      padding-top: 1%; } }
  @media screen and (max-width: 450px) {
    #hardscape p.aside {
      padding: 0;
      font-size: .8em; } }
  #hardscape p.aside img {
    max-width: 50%; }
#hardscape figcaption {
  position: absolute;
  background: rgba(102, 102, 102, 0.55);
  color: white;
  padding: 10% 20%;
  opacity: 0;
  bottom: -20%;
  left: 5%;
  right: 5%;
  font-size: 1.2em;
  text-align: center;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  border-radius: 10px; }
  #hardscape figcaption .view {
    margin: auto;
    width: 25%;
    height: 10%; }
    #hardscape figcaption .view :hover {
      color: white; }
#hardscape figure:hover figcaption {
  opacity: 1;
  bottom: 0; }

h1 {
  font-size: 3em;
  text-align: center;
  color: #8EA35E; }

.services {
  width: 100%;
  float: left; }
  .services .img {
    float: left;
    width: 50%;
    margin-right: 3%; }
    @media screen and (max-width: 800px) {
      .services .img {
        margin: 0 25%; } }
    @media screen and (max-width: 600px) {
      .services .img {
        margin: 0 12.5%;
        width: 75%; } }
  .services .btn a {
    color: #224D00;
    text-decoration: none;
    width: 20%;
    border-radius: 10px;
    background-color: #8EA35E;
    text-align: center;
    font-size: 2em;
    padding: 1% 3%;
    margin: 5% auto; }
  .services .btn a:hover {
    color: #B0B0B0;
    background-color: #224D00; }
  @media screen and (max-width: 800px) {
    .services p {
      clear: left; } }

/*# sourceMappingURL=master.css.map */
